<div class="container">
    <form action="/question" method="post">
        <h2> Fórum de Perguntas e Respostas</h2>

        <label for="title">
            Digite sua pergunta:
        </label>
        <input type="text" name="title" id="title">
    
        <br>
    
        <label for="description">
            Descreva sua pergunta:
        </label>
        <textarea name="description" id="description">
    
        </textarea>
    
        <br>
    
        <input type="submit" value="Enviar">
    </form>
</div>